[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
python-lsp-server = {version = "*", extras = ["all"]}
matplotlib = "*"
numba = "*"
torch = "*"
appnope = "*"
nbstripout = "*"
scikit-learn = "*"
black = "*"
black-macchiato = "*"
ipdb = "*"

[dev-packages]
ipykernel = "*"
pylsp-mypy = "*"
black = "*"

[requires]
python_version = "3.10"
